body {
    font-family: sans-serif;
    background: blanchedalmond;
}

.login-header, .register-header, .details-header, .main-header {
    text-align: center;
}

.login-body, .register-body {
    width: 20%;
    height: auto;
    margin: auto;
}

.line {
    background: black;
    height: 0.2vh;
    margin: 2%
}

.username-formfield, .password-formfield {
    font-size: 2vh;
    background: #ffecb3;
    border: 3px solid #ffcc80;
    border-radius: 5px;
    padding: 1%;
    margin-top: 4%;
    margin-bottom: 1%;
    height: 3%;
    width: 100%;
}

.username-formfield:hover, .password-formfield:hover {
    font-size: 2vh;
    background: #ffecb3;
    border: 3px solid #bd9862;
    border-radius: 5px;
    padding: 1%;
    margin-top: 4%;
    margin-bottom: 1%;
    height: 3%;
    width: 100%;
}

.submit-formfield {
    font-size: 2vh;
    background: #ffecb3;
    border: 3px solid #ffcc80;
    border-radius: 5px;
    padding: 2%;
    margin-top: 7%;
    margin-bottom: 7%;
    height: auto;
    width: auto;
}

.submit-formfield:hover {
    font-size: 2vh;
    background: #ffecb3;
    border: 3px solid #bd9862;
    border-radius: 5px;
    padding: 2%;
    margin-top: 7%;
    height: auto;
    width: auto;
    cursor: pointer;
}

.link-to-reglog {
    color: #000068;
}

.link-to-reglog:hover {
    color: #0000ff;
    cursor: pointer;
}

#details-mausname {
    border: 2px solid #000000;
    padding: 1%;
    width: 20%;
    height: auto;
    margin: auto;
}

.details-body {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    font-size: x-large;
}

.details-body-fakten-header {
    grid-column-start: 1;
    grid-column-end: 5;
    width: 95%;
    margin: auto;
}

.details-body-fakten {
    border: 1px solid #000000;
    margin: 2%;
    padding-left: 3%;
    width: 60%;
}

#details-body-bild {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 5;
    width: auto;
    height: auto;
}

.details-kommentare {
    font-size: x-large;
    width: 95%;
    margin: auto;
}

.comment-formfield {
    font-family: sans-serif;
    font-size: x-large;
    background: #ffecb3;
    border: 3px solid #ffcc80;
    border-radius: 15px;
    padding: 1%;
    width: 95%;
    resize: none;
}

.comment-formfield:hover {
    border: 3px solid #bd9862;
}

.submit-comment-formfield {
    font-size: x-large;
    background: #ffecb3;
    border: 3px solid #ffcc80;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    height: auto;
    width: 200px;
}

.submit-comment-formfield:hover {
    border: 3px solid #bd9862;
    cursor: pointer;
}

#details-posted-kommentare {
    font-size: x-large;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 1%;
}

#details-posted-kommentare-verfasser {
    border: 1px solid #000000;
    padding: 3%;
    width: 60%;
}

#details-posted-kommentare-body {
    grid-column-start: 2;
    grid-column-end: 5;
    border: 1px solid #000000;
    padding: 2%;
    width: 100%;
}

.main-body {
    font-size: x-large;
    text-align: center;
}

.main-favorites, .main-all {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 2px solid black;
    padding: 1%;
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
}

#favorites-heading, #all-heading {
    grid-column-start: 1;
    grid-column-end: 4;
}

.mouse{
    border: 2px solid black;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    padding: 2%;
}

.favorite-mouse-name, .all-mouse-name {
    margin-bottom: 3%;
}

.favorite-button {
    font-size: 20px;
    background: #ffecb3;
    border: 3px solid #ffcc80;
    border-radius: 5px;
    margin-left: 30%;
    height: auto;
    width: auto;
}

.favorite-button:hover {
    background: #ffecb3;
    border: 3px solid #bd9862;
    border-radius: 5px;
    cursor: pointer;
}